<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Inscription Rapide</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 form-inscrip-rapid">
    
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, placeholder: "Email" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: "Mot de passe" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.primary "Inscription et Go !", class: "pull-right"  %>
    <% end %>
  </div>
</div>


<%= render "devise/shared/links" %>
