<h2>Votre Profil</h2>

<hr>

<h3>Civilité</h3>
<p>
  Vous pouvez compléter votre profil ou mettre à jour les champs ci-dessous.
</p>

    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7") do |f| %>

      <%= f.text_field :nom, label: "Votre nom" %>
      <%= f.text_field :prenom, label: "Votre prénom" %>
      <%= f.text_field :pseudo, label: "Votre pseudo" %>
      <%= f.date_select :birthday, label: "Votre date de naissance", start_year: 1960, end_year: 2020, class: 'form group form-control form inline'  %>

<hr>

<h3>Vos coordonnées</h3>

  <%= f.text_field :adresse, label: "Mon adresse" %>
  <%= f.text_field :telephone, label: "Mon téléphone" %>

<hr>

<h3>Vos infos professionnelles</h3>

  <%= f.text_field :langage, label: "Mon langage web" %>
  <%= f.text_field :competence, label: "Mes compétences" %>
  <%= f.text_area :description, label: "Ma description" %>

<hr>

<h3>Mot de passe</h3>
<p>
  Vous pouvez modifier votre mot de passe.
</p>
       
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />

      <%= f.password_field :password, label: "Mot de passe", icon: "user", placeholder: "Votre nouveau mot de passe" %>
      <%= f.password_field :password_confirmation, label: "Confirmez votre nouveau mot de passe", autocomplete: "off", placeholder: "Minimum 8 caractères" %>

<hr>

<h3>Choix de votre avatar</h3>
<p>
  Votre avatar actuel <%= image_tag current_user.avatar.url(:thumb) %>
</p>

  <%= f.file_field :avatar, label: "Uploader un nouvel avatar" %>

<hr>

<h3>Personnaliser votre humeur</h3>
<p>
  Votre humeur : 
  <%= f.text_field :tag, label: "Votre humeur" %>
</p>

<hr>

<h3>Valider vos changements</h3>

      <%= f.password_field :current_password, label: "Saisissez votre mot de passe actuel pour confirmer vos changements", autocomplete: "off" %>

      <%= f.primary "Mettre à jour", control_col: "col-sm-7 col-offset-sm-4" %>
    <% end %>


<hr>

<h2>Suppression de votre compte</h2>

<div class="row" style="margin-bottom: 75px;">
  <div class="col-md-8">
    <p>
      Vous souhaitez supprimer votre compte ? Attention cette action est irréversible... 
    </p>    
  </div>
  <div class="col-md-4">
    <%= button_to "Supprimer mon compte", registration_path(resource_name), class: "btn btn-primary", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
  <hr>
</div>


