<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><h2 class="titre-nav">Wilder <span>Projet</span></h2></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
    	<li><%= link_to "MUR", posts_path %></li>
    	<li><%= link_to "PROFIL", profil_index_path %></li>
    	<li><%= link_to "PROMOS", destroy_user_session_path %></li>
    	<li><%= link_to "EMPLOI/STAGE", destroy_user_session_path %></li>
      <li><%= link_to "DECONNECTION", destroy_user_session_path, :method => :delete %></li>
           
    </ul>
  </div>
</nav>





