

<div class="container-fluid" style="padding-bottom: 75px;">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Promo Août 2015 - Janv 2016 : Only the bests !!!</h1>
      <p>Nota du 03/01/16: La carte ci dessous fonctionnait jusu'à il y a 3 jours, elle affichait des marqueurs des wilders qui avaient remplis
        leur adresse dans leur profil. Depuis 3 jours lorsqu'on rafraichit la page on voit qu'elle commence à s'initialiser et ensuite se met gris... Le message d'erreur est dans chrome est : Uncaught RangeError: Maximum call stack size exceeded... Si quelqu'un a la soluce.. </p>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-md-12">
      <h3>
        Carte des Wilders<br>
        <small>Si la carte ne s'affiche pas, rafraichir la page (petit bug à fixer)</small>
      </h3>

    </div>
  </div>

  <div class="row">
    
    <div class="col-md-8">
      <div style='width: 100%;'>
        <div id="map" style='width: 100%; height: 400px;'></div>
      </div>
    </div>
    <div class="col-md-4">
      <h4 class="text-center">Les Wilders par langage</h4>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h5>Les rubystes : </h5>
          <% @users.langage_ruby.in_groups_of(6, false).each do |group| %>
            <div class="row">
              <% group.each do |user| %>
                <div class="col-md-2">
                  <a href="#" data-toggle="tooltip" title="<%= user.pseudo %>"><%= image_tag user.gravatar_url %></a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>Les Javascripts : </h5>
          <% @users.langage_js.in_groups_of(6, false).each do |group| %>
            <div class="row">
              <% group.each do |user| %>
                <div class="col-md-2">
                  <a href="#" data-toggle="tooltip" title="<%= user.pseudo %>"><%= image_tag user.gravatar_url %></a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>Les Phpistes : </h5>
          <% @users.langage_php.in_groups_of(6, false).each do |group| %>
            <div class="row">
              <% group.each do |user| %>
                <div class="col-md-2">
                  <a href="#" data-toggle="tooltip" title="<%= user.pseudo %>"><%= image_tag user.gravatar.url %></a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

<hr>

  <div class="row">
    <div class="col-md-12">
      <h3>Liste des Wilders</h3>
    </div>
  </div>


  <% @users.each do |user| %>
  
    <div class="row well">
      <div class="col-md-3">
        <p>
          <%= image_tag user.gravatar_url %>
         </p>
        <p>
          <b><i class="fa fa-user"></i><%= user.nom %> <%= user.prenom %></b><br/>
          <i class="fa fa-phone"></i><%= user.telephone %><br/>
          <i class="fa fa-envelope"></i><%= user.email %><br/>
          <i class="fa fa-map-marker"></i><%= user.adresse %>
        </p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <h4>Développeur <%= user.langage %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
              <%= user.competence %>
            </p>
            <p>
              <%= user.description %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to "Envoyer un message à #{user.pseudo}", new_message_path(@user), class: "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</div>

