<div class="container-fluid" style="padding-bottom: 75px;">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><%= image_tag @user.gravatar_url(:size => 40) %><%= @user.pseudo %> : <%= @user.nom %> <span style="color: #337AB7;"><%= @user.prenom %></span><br>
      <small><%= @user.tag %></small>
      </h1>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-md-12">
       <h2>Tableau de bord :</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <b>Nombre de points challenger : </b><%= @user.points %>
      </p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><b>Nombre de challenges relévés :</b> <%= @user.participations.count %></p>
    </div>
    <div class="col-md-4">
      <p class="pull-right"><b>Nombre de challenges déposés :</b> <%= @user.challenges.count %></p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
       <h2>Carte de visite :</h2>
    </div>
  </div>

  <hr>
  
  <div class="row">
    <div class="col-md-12">
       <h2>Challenger :</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Challenges déposés</h3>
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-12">
      <%= render @challenges %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Challenges relevés :</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <ul>
        <% @participations_user.each do |participation| %>
          <li><%= participation.challenge.title %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row" style="padding-bottom: 75px;">
    <div class="col-md-12">
      <%= link_to "Retour aux challenges", challenges_path, class: "btn btn-primary" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
       <h2>Mes listes :</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% if @todo_lists.count > 0 %>
        <!-- Liste des todolists -->
        <div class="row" id="container_todolists">
          <%= render @todo_lists %>
        </div>
      <% else %>
        <div class="well">
          <h2 class="text-center">Vous n'avez pas encore de liste</h2>
        </div>
      <% end %>
    </div>
  </div>

</div>
