<%= render @challenge %>

<p>
  <strong>Expires at:</strong>
  <%= @challenge.expires_at.strftime("%d %b %Y") %>
</p>



<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>

<hr>

<h1>Les Participants</h1>


<hr>
<%= render 'participations' %>

<hr>

<h2>Nouvelle Participation</h2>

<%= render 'participations/form' %>

<div style="margin-bottom: 70px"></div>