<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Détail du challenge :</h1>
    </div>
  </div>

  <%= render @challenge %>

  <div class="row">
    <div class="col-md-12">
      <% if current_user.id == @challenge.user_id %>
        <%= link_to 'Modifier votre challenge', edit_challenge_path(@challenge), class: "btn btn-primary pull-right" %>
      <% end %>
      <%= link_to 'Retour à la liste des challenges', challenges_path, class: "btn btn-primary" %>
    </div>
  </div>





</div>






<hr>

<h1>Les Participants</h1>


<hr>
<%= render 'participations' %>

<hr>

<h2>Nouvelle Participation</h2>

<%= render 'participations/form' %>

<div style="margin-bottom: 70px"></div>