<div class="row">
  <div class="col-md-12">
    <h4><i class="fa fa-user"></i>Mon Profil</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <p>
      <%= en_ligne(current_user) %><b><%= pseudo_mail(current_user) %></b>
      Contributions :
    </p>
  </div>
  <div class="col-md-3">
    <p>
      <% if current_user.avatar.exists? %>
        <%= image_tag current_user.avatar.url(:thumb) %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><b>Humeur :</b><br/>
      "<%= current_user.tag %>"</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <p><b>Langage web :</b><br />
      <%= current_user.langage %>
    </p>
  </div>
  <div class="col-md-4">
    <%= logo(current_user.langage) %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Mettre à jour votre profil", edit_user_registration_path, class: "btn btn-primary center-block" %>
  </div>
</div>