<li>
  <div class="row content-post">
    <div class="col-md-1 avatar pull-left"><%= image_tag post.user.gravatar_url(:size => 40) %>
    </div>
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-12 content-details">
          <p>
            <b><%= post.user.pseudo %></b>
            <span class="timestamp"> a posté le <%= creation_post(post) %></span>
            <span class="humeur pull-right">Humeur : <%= post.user.tag %></span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 content-message">
          <p>
            <%= post.content %>
            <%= link_to unlike_post_path(post), method: :put, class: "pull-right" do %>
              <i class="fa fa-thumbs-down"></i>
              <span class="badge"><%= post.get_downvotes.size %></span>
            <% end %>
            <%= link_to like_post_path(post), method: :put, class: "pull-right" do %>
              <i class="fa fa-thumbs-up"></i>
              <span class="badge"><%= post.get_upvotes.size %></span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</li>