<div class="row">

  <div class="col-md-3" style="background-color:blue;">
    <div class="panel-heading">
      
      <%= form_for(@newpost) do |f| %>
        <%= f.text_field :content %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Envoyer", {:method => :post } %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6" style="background-color:grey;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-list-alt"></span>
          Messages
        </h3>
      </div>
      <div class="panel-body">
        <!-- ruby pour afficher tous les messages de tous les utilisateurs, ordre decroissant -->
        <% @posts.reverse.each do |post| %>
          <p style="color: red;">
            Posté par <%= post.user.email %> à <%= creation_post(post) %> 
          </p>
          <p style="color: blue;">
            <%= post.content %>
          </p>
          <hr />
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="background-color:yellow;">
    


  </div>
</div>



