<div class="container-fluid">

  <div class="row" style="margin-top: 10px;">

    <div class="col-md-3">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Votre Profil</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <p>
                    <!-- <img src="http://www.1001avatars.net/_avatars/humour/008.jpg" alt="" class="img-responsive"> -->
                    <% if current_user.avatar.exists? %>
                      <%= image_tag current_user.avatar.url(:thumb) %>
                    <% end %>
                  </p>
                </div>
                <div class="col-md-8">
                  <p>Votre pseudo :<br>
                    <b><%= current_user.pseudo %></b>
                  </p>
                  <p>Votre email :<br>
                    <b><%= current_user.email %></b>
                    </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <p>Humeur : "Carpe Diem !!!</p>
                </div>
              </div>
            </div>
            <div class="panel-footer clearfix">
              <div class="pull-right">
                  <a href="#" class="btn btn-primary">Mettre à jour votre profil</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-body">Message(s)
          <span class="badge pull-right">12</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Vos amis<span class="badge pull-right">33</span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li>ami1</li>
                    <li>ami2</li>
                    <li>ami3</li>
                    <li>ami4</li>
                    <li>ami5</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="pull-right list-unstyled">
                    <li>connecté</li>
                    <li>connecté</li>
                    <li>connecté</li>
                    <li>Hors-ligne</li>
                    <li>Hors-ligne</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-7">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary" style="margin-bottom: 70px;">
            <div class="panel-heading">
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-list-alt"></span> Vos Messages</h3>
            </div>
            <div class="panel-body">
              <div class="row" style="overflow: scroll; height: 380px;">
                <div class="col-md-12">
                <% @posts.reverse.each do |post| %>
                <div class="message-item" id="m16">
                  <div class="message-inner">
                    <div class="message-head clearfix">
                      <div class="avatar pull-left">
                        <% if current_user.avatar.exists? %>
                          <%= image_tag current_user.avatar.url(:thumb) %>
                        <% end %>
                      </div>
                      <div class="user-detail">
                        <h5 class="handle"><%= post.user.pseudo %></h5>
                        <div class="post-meta">
                          <div class="asker-meta">
                            <span class="qa-message-what"></span>
                            <span class="qa-message-when">
                              <span class="qa-message-when-data"><%= creation_post(post) %></span>
                            </span>
                            <span class="qa-message-who">
                              <span class="qa-message-who-pad">by </span>
                              <span class="qa-message-who-data"><a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko"><%= post.user.pseudo %></a></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="qa-message-content">
                      
                        <%= post.content %>
                      
                    </div>
                  </div>
                </div>
                <% end %>
                </div>
              </div>
            </div>
            <div class="panel-footer clearfix">
              <div class="row">
                <%= render 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">

      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Liste de Membres
              <span class="badge pull-right"><%= @users.all.count %></span></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled">
                <li><%= render 'user/index.html.erb' %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Derniers Posts
              <span class="badge pull-right">3</span></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <%= @posts.last %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>



