<div class="container-fluid">

  <div class="row" style="margin-top: 70px;">

    <div class="col-md-3">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Votre Profil</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <p><img src="http://www.1001avatars.net/_avatars/humour/008.jpg" alt="" class="img-responsive"></p>
                </div>
                <div class="col-md-6">
                  <p><%= current_user.pseudo %></p>
                  <p><%= current_user.email %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <p>Humeur : "Carpe Diem !!!</p>
                </div>
              </div>
            </div>
            <div class="panel-footer clearfix">
              <div class="pull-right">
                  <a href="#" class="btn btn-primary">Mettre à jour votre profil</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-body">Message(s)
          <span class="badge pull-right">12</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Vos amis<span class="badge pull-right">33</span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li>ami1</li>
                    <li>ami2</li>
                    <li>ami3</li>
                    <li>ami4</li>
                    <li>ami5</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="pull-right list-unstyled">
                    <li>connecté</li>
                    <li>connecté</li>
                    <li>connecté</li>
                    <li>Hors-ligne</li>
                    <li>Hors-ligne</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary" style="margin-bottom: 70px;">
            <div class="panel-heading">
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-list-alt"></span> Messages</h3>
            </div>
            <div class="panel-body">
              <div class="row" style="overflow: scroll; height: 350px;">
                <% @posts.reverse.each do |post| %>
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                  </div><!-- /col-sm-1 -->
                  <div class="col-sm-9">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <p>
                          Posté par <b><%= post.user.pseudo %></b> le <%= creation_post(post) %> 
                        </p>
                      </div>
                      <div class="panel-body">
                        <p>
                          <%= post.content %>
                        </p>
                      </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                  </div><!-- /col-sm-5 -->
                <% end %>
              </div>
            </div>
            <div class="panel-footer clearfix">
              <div class="row">
                <%= render 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">

      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Liste de Membres
              <span class="badge pull-right"><%= @users.all.count %></span></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li><%= render 'user/index.html.erb' %></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="pull-right list-unstyled">
                <li>connecté</li>
                <li>connecté</li>
                <li>connecté</li>
                <li>Hors-ligne</li>
                <li>Hors-ligne</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Derniers Posts
              <span class="badge pull-right">3</span></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <%= @posts.last %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>



