<div class="container-fluid">
  <div class="row" style="margin-top: 10px;">

    <div class="col-md-9">

           
      <div class="row">
        <div class="col-md-12 scrollable" style="height: 430px;">
          <% @posts.reverse.each do |post| %>
          <div class="row content-post">
            <div class="col-md-1 avatar pull-left"><%= image_tag post.user.gravatar_url %>
            </div>
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-12 content-details">
                  <p>
                    <b><%= post.user.pseudo %></b>
                    <span class="timestamp"> a posté le <%= creation_post(post) %></span>
                    <span class="humeur pull-right">Humeur : <%= post.user.tag %></span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 content-message">
                  <p>
                    <%= post.content %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="row form-post" style="margin-top:15px;">
        <%= render 'form' %>
      </div>

    </div>

    <div class="col-md-3">

      <%= render 'cartouche_membres' %>
      <%= render 'cartouche_infos' %>

    </div>

  </div>
</div>



