<%= bootstrap_form_for(@offre) do |f| %>

  <div class="col-md-12">

    <%= f.text_field :url, label: "Collez votre lien" %>
    <%= f.select :language, [["Ruby"], ["Php"], ["Javascript"]], { label: "Choisissez le langage:" }, { class: "selectpicker" } %>
    <%= f.select :contrat, [["Cdi"], ["Cdd"], ["Stage"], ["Autres"]], { label: "Choisissez le type de contrat:" }, { class: "selectpicker" } %>
    <%= f.text_field :localisation, label: "Lieu de l'offre" %>
    <%= f.number_field :salaire, label: "Mettez le salaire annuel brut" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.primary "Valider l'offre" %></a>
    <%= link_to "Annuler", offres_path, class: "btn btn-primary pull-right" %>

  </div>

<% end %>


