<!DOCTYPE html>
<html>
<head>
  <title><%= titre %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- Pas très propre!!! Voir pour changer!!! -->
<!-- ####################################### -->

<% if user_signed_in? %>

  <body>
    <%= render 'shared/navigation' %>
  <div class="container-fluid" id="content">

    <section class="section-gauche">
      <div class="col-md-2" style="background-color: #101010;">
        <%= render 'posts/cartouche_profil' %>
        <%= render 'posts/cartouche_messages' %>
        <%= render 'posts/cartouche_amis' %>
      </div>
    </section>

    <section class="section-droite">
      <div class="col-md-10">
        <div class="row">
          <div class="col-xs-12">
            <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
            <% end -%>
          </div>
        </div>

        <%= yield %>

      </div>
    </section>

  </div><!-- Fin .container-fluid -->
  
<% else %>

  <body id="connexion">
    <%= render 'shared/navconnexion' %> 



<% end %>

  <%= render 'shared/footer' %>




<!-- ############################### -->


<script type="text/javascript">
	$('.alert').delay(4000).fadeOut();
</script>

<!-- Script Recherche Offre -->
<script type="text/javascript">
$(document).ready(function(){
    $('.filterable .btn-filter').click(function(){
        var $panel = $(this).parents('.filterable'),
        $filters = $panel.find('.filters input'),
        $tbody = $panel.find('.table tbody');
        if ($filters.prop('disabled') == true) {
            $filters.prop('disabled', false);
            $filters.first().focus();
        } else {
            $filters.val('').prop('disabled', true);
            $tbody.find('.no-result').remove();
            $tbody.find('tr').show();
        }
    });

    $('.filterable .filters input').keyup(function(e){
        /* Ignore tab key */
        var code = e.keyCode || e.which;
        if (code == '9') return;
        /* Useful DOM data and selectors */
        var $input = $(this),
        inputContent = $input.val().toLowerCase(),
        $panel = $input.parents('.filterable'),
        column = $panel.find('.filters th').index($input.parents('th')),
        $table = $panel.find('.table'),
        $rows = $table.find('tbody tr');
        /* Dirtiest filter function ever ;) */
        var $filteredRows = $rows.filter(function(){
            var value = $(this).find('td').eq(column).text().toLowerCase();
            return value.indexOf(inputContent) === -1;
        });
        /* Clean previous no-result if exist */
        $table.find('tbody .no-result').remove();
        /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
        $rows.show();
        $filteredRows.hide();
        /* Prepend no-result row if all rows are filtered */
        if ($filteredRows.length === $rows.length) {
            $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
        }
    });
});
</script>

</body>
</html>
